<html>
<head>
	<title>Post lists</title>
</head>
<body>
	<% @posts.each do |post| %>

	<%= link_to edit_post_path(post) do %>
	<div>
		<%= post.title %>
		<br>
		<%= post.author %>
		<br>
		<%= post.description %>
		<br>
		$<%= post.price %>
	</div>
	<% end %>
	<br>
	<% end %>

</body>
</html>